.data_container_header{
    width: 100%;
    height: 160px;
    color: black;
    padding: 5px 1px 5px 1px;
}
.data_company{
    margin-top:7px;
    table-layout: fixed;
    width: 100%;
}

.name_company {
    font-weight:bold;
    font-size:17px;
}
.img_div{
    width: 100%;
    height: 100px;
    margin: 0px 20px 0px 15px;
    word-wrap: normal;
}
.logo {
    max-width: 60%;
    max-height: 75%;
    width: auto;
    max-height: 100%;

}
.data_container_header
    height:80%;
    border: 1px solid black;
    text-align: center;
    vertical-align:top;
    font-size:14px;
    margin:0px;
}
.ruc {
    height:80%;
    vertical-align:top;
    margin-left:30px;
    border:1px solid black;
    border-radius:10px;
    background-color: #EEEEEE;
    text-align: center;
    vertical-align:top;
    font-size:14px;
}
.data_container_header .text_ruc {
    padding-top: 0px;

}
.data_container_header .text_report {
   margin-top: 15px;
   margin-bottom: 15px;
}
.data_container_header .text_num {
   padding-bottom: 0px;
}

.image_qr_code_efact {
    margin-top: 0px;
    text-align: center;
    font-size: 10px;
}
.space {
    height: 110px;
}